priority -50

snippet desc "describe(string, fn)" b
describe('${1:description}', function () {
  $0
});
endsnippet

snippet it "it(string, fn)" b
it('${1:description}', function () {
  $0
});
endsnippet

snippet bef "beforeEach(fn)" b
beforeEach(function (done) {
  $0
});
endsnippet

snippet aft "afterEach(fn)" b
afterEach(function (done) {
  $0
});
endsnippet

snippet befa "beforeAll(fn)" b
beforeAll(function () {
  $0
});
endsnippet

snippet afta "afterAll(fn)" b
afterAll(function () {
  $0
});
endsnippet

snippet ru "runs(fn)" b
runs(function () {
  $0
});
endsnippet

